body {
  text-align: center;
  background-color: grey;
}
.animal {
  float:left;
  width: 30%;
  padding:.75em;
  border: solid grey;
  border-width: 0px .5px 0px .5px;
  text-align: center;
}
.animal img {
  height: 15em;
  width:26em;
  display: block;
  margin: 0 auto;
}
