html {
  height: 100%;
}
body {
  text-align: center;
  background-color: #32302B;
  font-family: sans-serif;
  height: 100%;
  padding:30px;
}
.head {
  background-image: url("http://www.sculpt.com/pictures/ArchMod/7865163.gif");
  color: white;
  padding: 8px;
  border: solid #521E1E 5px;
  border-radius: 10px;
  margin-left: 5px;
  margin-right: 5px;ß
}
#container {
  display: block;
  margin: 0 auto;
  padding-top: 80px;
  padding-left: 70px;
  border: solid grey 5px;
  border-radius: 10px;
}
.animal {
  float: left;
  width: 31%;
  padding:.75em;
  border: solid grey;
  border-width: 0px .5px 0px .5px;
  text-align: center;
  background-color: lightgrey;
  height: 50%;
  border: solid lightgrey 5px;
  border-radius: 10px;
  margin: 5px;

}
.animal img {
  height: 15em;
  width:26em;
  display: block;
  margin: 0 auto;
  margin-top: 2em;
}
.animal h3 {
  font-family: fantasy;
  font-size: 200%;
  color: tan;
}
.animal p {
  text-align: justify;
}
.species {
  font-weight: bold;
  color:darkred
}
.about {
  background-color: lightgrey;

}
